<header id="header" th:fragment="copy" xmlns:th="http://www.w3.org/1999/xhtml">
    <a th:href="@{/index}" class="logo"><strong>RIVAL</strong> <span>by PSCK  </span></a>
    <nav>
        <a href="#menu">Menu</a>
    </nav>
    <nav >
        <a th:if ="${session.userLoginInfo} == null" href="#login">Login</a>
        <a th:if ="${session.userLoginInfo1} != null" href="#login">MyInfo</a>
    </nav>


    <!-- Login -->
    <nav id="menu">
        <ul class="actions vertical">
            <li><a href="#one" class="button special fit">sport</a></li>
        </ul>
        <ul class="links">
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/team}">Mathcing</a></li>
        </ul>

    </nav>
    <!-- Login -->
    <nav id="login">
        <ul class="links">
            <li class="button special fit">Login</li>
        </ul>
        <ul class="links">
            <li><a href="javascript:loginWithKakao()">KaKaoLogin</a></li>
            <li><a href="javascript:loginWithKakao()">FacebookLogin</a></li>
            <li><a href="javascript:loginWithKakao()">NaverLogin</a></li>
            <li><a th:href="@{/myinfo}">Account</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>
    <script src="js/kakao.js"></script>
</header>